.cart-page {
  padding: 1.2rem;
  width: 1400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

.cart-items {
  display: flex;
  padding: 2rem 0;
  flex-direction: row; 
  gap: 1.2rem; 
}
/* Center the content cart-item
* Stack the image and details vertically 
*/

.cart-item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 19rem; 
  text-align: center;
}

.item-image {
  width: 6.5rem; 
  height: 6.5rem;
  object-fit: cover; 
  margin-bottom: 1rem; 
  border-radius: 0.3rem;
}

.item-details h2 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #333;
}

.item-details p {
  margin: 0.3rem 0;
  color: #555;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin: 10px 0;
}

.quantity-controls button {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
}

button {
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: rgb(207, 128, 44);
  color: white;
  border: none;
  margin-top: 10px;
}

.quantity-controls > button{
  padding: .5rem 1rem;
}

button:hover {
  background-color: rgb(40, 40, 136);
}

.cart-summary {
  margin-top: 1.2rem;
  text-align: center;
  font-size: 1.2rem;
}

.cart-summary + button{
  margin-right:2rem ;
}

.order-confirmation {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 0.3rem;
  margin-top: 1.2rem;
  border: 1px solid #ccc;
}

.clear-cart-button {
  background-color: #f44336;
}

.clear-cart-button:hover {
  background-color: #e41e18;
}
